<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
      <div class="row">
            <div class="col-md-6">
              <strong>Nome Fantasia</strong>
                 <%= f.text_field :nome_fantasia, :class => 'form-control' %>

            </div>
            <div class="col-md-6">
              <strong>Email</strong>
                    <%= f.text_field :email,:class => 'form-control' %>
              </ul>
            </div>
      </div>
      <p></p>
      
      <div class="row">
            <div class="col-md-6">
              <strong>CNPJ</strong>
                     <%= f.number_field :cnpj, :class => 'form-control' %>

            </div>
            <div class="col-md-6">
              <strong>Razão Social</strong>
                    <%= f.text_field :razao_soc,:class => 'form-control' %>
              </ul>
            </div>
      </div>
      <p></p>
      <div class="row">
            <div class="col-md-6">
              <strong>Inscrição Estadual</strong>
                 <%= f.text_field :inscricao_es, :class => 'form-control' %>

            </div>
            <div class="col-md-6">
              <strong>Nome do Comprador</strong>
                    <%= f.text_field :nome_comprador,:class => 'form-control' %>
              </ul>
            </div>
      </div>
      <p></p>
      <div class="row">
            <div class="col-md-6">
              <strong>Nome do Banco</strong>
                 <%= f.text_field :nome_banco, :class => 'form-control' %>

            </div>
            <div class="col-md-6">
              <strong>Agência</strong>
                    <%= f.text_field :agencia,:class => 'form-control' %>
              </ul>
            </div>
      </div>
      <p></p>
      <div class="row">
            <div class="col-md-6">
              <strong>Conta Corrente</strong>
                 <%= f.text_field :conta_corrente, :class => 'form-control' %>

            </div>
            
      </div>
<p></p>
<p></p>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
</div>
<% end %>
