<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% @cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  
      <div class="row">
            <div class="col-md-6">
              <strong>Nome Fantasia</strong>
              <ul class="list-group">
                <li><%= f.text_field :nome_fantasia, :class => 'form-control' %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <strong>Email</strong>
              <ul class="list-group">
                <li><%= f.text_field :email,:class => 'form-control' %></li>
              </ul>
            </div>
      </div>
      
      <div class="row">
            <div class="col-md-6">
              <strong>CNPJ</strong>
              <ul class="list-group">
                <li><%= f.text_field :cnpj, :class => 'form-control' %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <strong>Razão Social</strong>
              <ul class="list-group">
                <li><%= f.text_field :razao_soc,:class => 'form-control' %></li>
              </ul>
            </div>
      </div>
      
      <div class="row">
            <div class="col-md-6">
              <strong>Inscrição Estadual</strong>
              <ul class="list-group">
                 <li><%= f.text_field :inscricao_es, :class => 'form-control' %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <strong>Nome do Comprador</strong>
              <ul class="list-group">
                    <li><%= f.text_field :nome_comprador,:class => 'form-control' %></li>
              </ul>
            </div>
      </div>
      
      <div class="row">
            <div class="col-md-6">
              <strong>Nome do Banco</strong>
              <ul class="list-group">
                 <li><%= f.text_field :nome_banco, :class => 'form-control' %></li>
              </ul> 
            </div>
            <div class="col-md-6">
              <strong>Agência</strong>
              <ul class="list-group">
                    <li><%= f.text_field :agencia,:class => 'form-control' %></li>
              </ul>
            </div>
      </div>
      
      <div class="row">
            <div class="col-md-6">
              <strong>Conta Corrente</strong>
              <ul class="list-group">
                 <li><%= f.text_field :conta_corrente, :class => 'form-control' %></li>
              </ul> 
            </div>
            
      </div>
      
      <div class="actions text-center">
        <%= f.submit :class => 'btn btn-primary'%>
      </div>
    </div>
<% end %>
