<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <strong>Nome da Coleção</strong>
      <ul class="list-group">
        <%= f.text_field :name, :class => 'form-control' %>
      </ul>
    </div>
    <div class="col-md-6">
      <strong>Data de Início</strong>
      <ul class="list-group">
        <%= f.text_field :data_inicio, :class => 'form-control' %>
      </ul>
    </div>
  </div>
  
  <div class="actions text-center">
    <%= f.submit "Salvar Coleção", :class => 'btn btn-primary'%>
  </div>
<% end %>
