<!-- LOGIN FORM -->
<% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>"><%= value %></p>
<% end %>
<%= form_for(:session, url: login_path, :html => { :id => "login-form"}) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, :placeholder => "Endereço de Email", :class => "form-control", :id => "username"  %>
  </div>  
  <div class="form-group">
    <%= f.password_field :password, :placeholder => "Senha", :class => "form-control", :id => "password"  %>
  </div>
  <div class="form-group">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Lembrar dados nesse computador.</span>
      <% end %>
  </div>
  <div class="form-group">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
        <%= f.submit "Entrar", :class => "form-control btn btn-login", :id => "login-submit"  %>
 			</div>
   	</div>
 	</div>
 	
 	
 	<div class="form-group">
 	  <div class="row">
 			<div class="col-lg-12">
 				<div class="text-center">
 				  <p>Não possui uma conta? <%= link_to "Registrar!", signup_path,style:"background-color:transparent" %></p>
 				  <%= link_to "Esqueceu sua senha?", new_password_reset_path,style:"background-color:transparent" %>
 				</div>
 			</div>
 		</div>
 	</div>
<% end %>

