<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="col-md-6" style="padding:10px","margin:20px">
              <strong>Quantidade de Itens</strong>
                 <%= f.number_field :qtd_itens, :class => 'form-control' %>

            </div>
            <div class="col-md-6" style="padding:10px","margin:20px">
              <strong>Preço Total</strong>
                    <%= f.text_field :preco_total,:class => 'form-control' %>
              </ul>
            </div>
      </div>
      <p></p>

  <div class="actions" align="center" style="padding:25px","margin:20px">
    <%= f.submit %>
  </div>
<% end %>
