<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Quantidade de Itens" %><br>
    <%= f.number_field :qtd_itens %>
  </div>
  <div class="field">
    <%= f.label "Preço Total" %><br>
    <%= f.text_field :preco_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
