<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <strong>Nome</strong>
      <ul class="list-group">
        <%= f.text_field :name, :class => 'form-control' %>
      </ul>
    </div>
    <div class="col-md-6">
      <strong>Referência</strong>
      <ul class="list-group">
        <%= f.text_field :referencia,:class => 'form-control' %>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <strong>Preço Unitário</strong>
      <ul class="list-group">
        <%= f.text_field :preco_unitario, :class => 'form-control' %>
      </ul>
    </div>
    <div class="col-md-6">
      <strong>Informações</strong>
      <ul class="list-group">
        <%= f.text_field :info,:class => 'form-control' %>
      </ul>
    </div>
  </div>
  
  <div class="actions text-center">
    <%= f.submit  "Salvar Produto", :class => 'btn btn-primary'%>
  </div>
<% end %>
